$color: #fff;

#loading-bar .bar {
  background: $color;
}

#loading-bar .peg {
  -moz-box-shadow: $color 1px 0 6px 1px;
  -ms-box-shadow: $color 1px 0 6px 1px;
  -webkit-box-shadow: $color 1px 0 6px 1px;
  box-shadow: $color 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
  border-top-color:  $color;
  border-left-color: $color;
}