swagger: '2.0'
info:
  title: RUN API
  description: A RUN API dokumentációja
  version: "1.0.0"
host: run.woohoolabs.com
schemes:
  - http
basePath: /index.php?uri=
consumes:
  - application/vnd.api+json
produces:
  - application/vnd.api+json
tags:
  -
    name: Feedbacks
    description: Észrevételek
paths:
  /feedbacks/{project}:
    post:
      summary: Észrevételt fűzhetünk a projekthez
      description: |
        Észrevételt fűzhetünk a projekthez
      tags:
        - Feedbacks
      parameters:
        - in: path
          name: project
          description: A projekt azonosítóneve
          required: true
          type: string
        - in: body
          name: body
          description: A kosárbeli tételek
          required: true
          schema:
            $ref: '#/definitions/NewFeedback'
      responses:
        204:
          description: Sikeres létrehozás
        404:
          description: Nem létező projekt
          schema:
            $ref: '#/definitions/JsonApiError'
        500:
          description: Váratlan hiba
          schema:
            $ref: '#/definitions/JsonApiError'

definitions:
  NewFeedback:
    properties:
      data:
        $ref: '#/definitions/NewFeedbackData'
    required:
      - data
  NewFeedbackData:
      properties:
        type:
          type: string
          default: feedback
          description: Az észrevétel típusa
        attributes:
          $ref: '#/definitions/NewFeedbackDataAttributes'
      required:
        - type
        - id
        - attributes
  NewFeedbackDataAttributes:
    properties:
      browser:
        $ref: '#/definitions/NewFeedbackDataAttributesBrowser'
      url:
        type: string
      screenshot:
        type: string
      title:
        type: string
      description:
        type: string
      name:
        type: string
        default: "Tesztelő Nagymenő Hacker Elek"
      email:
        type: string
        default: "<h1>xyz@xyz.hu</h1>"
    required:
      - browser
      - url
      - screenshot
      - title
      - description
      - name
      - email
  NewFeedbackDataAttributesBrowser:
    properties:
      appCodeName:
        type: string
      appName:
        type: string
      appVersion:
        type: string
      cookieEnabled:
        type: string
        default: ""
      onLine:
        type: string
      platform:
        type: string
      userAgent:
        type: string
      screen:
        type: string
    required:
      - appCodeName
      - appName
      - appVersion
      - cookieEnabled
      - onLine
      - platform
      - userAgent
      - screen
  JsonApiError:
    properties:
      errors:
        type: string
    required:
      - errors
  JsonApiErrorErrors:
    properties:
      status:
        type: string
      code:
        type: integer
      title:
        type: string
      detail:
        type: string
    required:
      - status
      - code
      - title
      - detail
