<aside class="al-sidebar" sidebarResize>
  <ul id="al-sidebar-list" class="al-sidebar-list">

      <li class="al-sidebar-list-item" routerLinkActive="selected">
        <a [routerLink]="['/dashboard']" class="al-sidebar-list-link">
          <i class="fa fa-tachometer"></i><span i18n>Dashboard</span>
        </a>
      </li>

      <li class="al-sidebar-list-item" routerLinkActive="selected">
        <a [routerLink]="['/feedbacks']" class="al-sidebar-list-link">
          <i class="fa fa-bug"></i><span i18n>Feedbacks</span>
        </a>
      </li>

      <li class="al-sidebar-list-item" routerLinkActive="selected">
        <a [routerLink]="['/projects']" class="al-sidebar-list-link">
          <i class="fa fa-list"></i><span i18n>Projects</span>
        </a>
      </li>

      <li *ngIf="user.isSuperadmin" class="al-sidebar-list-item" routerLinkActive="selected">
        <a [routerLink]="['/users']" class="al-sidebar-list-link">
          <i class="fa fa-users"></i><span i18n>Users</span>
        </a>
      </li>

  </ul>
</aside>
