<aside class="al-sidebar" (mouseleave)="hoverElemTop=outOfArea" sidebarResize>
  <ul id="al-sidebar-list" class="al-sidebar-list">
    <!-- <ba-menu-item
      [menuItem]="item"
      (itemHover)="hoverItem($event)"
      (toggleSubMenu)="toggleSubMenu($event)"
      *ngFor="let item of menuItems"></ba-menu-item> -->

      <li (click)="clickOnItem($event)" [ngClass]="{
        'al-sidebar-list-item': !child,
        'ba-sidebar-sublist-item': child,
        'selected': false,
        'with-sub-menu': false
      }">
        <a (mouseenter)="hoverItem($event, item)" [routerLink]="['/dashboard']" class="al-sidebar-list-link">
          <i class="fa fa-tachometer"></i><span i18n>Dashboard</span>
        </a>
      </li>

      <li (click)="clickOnItem($event)" [ngClass]="{
        'al-sidebar-list-item': !child,
        'ba-sidebar-sublist-item': child,
        'selected': false,
        'with-sub-menu': false
      }">
        <a (click)="clickOnItem($event)" (mouseenter)="hoverItem($event, item)" [routerLink]="['/feedbacks']" class="al-sidebar-list-link">
          <i class="fa fa-bug"></i><span i18n>Feedbacks</span>
        </a>
      </li>

      <li (click)="clickOnItem($event)" [ngClass]="{
        'al-sidebar-list-item': !child,
        'ba-sidebar-sublist-item': child,
        'selected': false,
        'with-sub-menu': true
      }">
        <a (mouseenter)="hoverItem($event, item)" [routerLink]="['/projects']" class="al-sidebar-list-link">
          <i class="fa fa-list"></i><span i18n>Projects</span>
        </a>
      </li>

      <li (click)="clickOnItem($event)" [ngClass]="{
        'al-sidebar-list-item': !child,
        'ba-sidebar-sublist-item': child,
        'selected': false,
        'with-sub-menu': true
      }">
        <a (mouseenter)="hoverItem($event, item)" [routerLink]="['/users']" class="al-sidebar-list-link">
          <i class="fa fa-users"></i><span i18n>Users</span>
        </a>
      </li>


  </ul>
  <div class="sidebar-hover-elem" [ngStyle]="{top: hoverElemTop + 'px', height: hoverElemHeight + 'px'}"
       [ngClass]="{'show-hover-elem': showHoverElem }"></div>
</aside>
