<div id="feedback-submit-success">

    <div class="feedback-logo">{{ text.title }}</div>

    <p>{{ text.success }}</p>

    <button class="feedback-close-btn feedback-btn-blue">{{ text.ok }}</button>

    <div class="feedback-wizard-close"></div>
</div>
